* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #00ff62, rgb(0, 26, 255));
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player {
    background-color: #0004ff;
    padding: 110px 50px;
    width: 414px;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 4px 4px 100px rgb(8, 8, 8);
}


.song-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;
    background-color: #03e2ff;
    border-radius: 3%;
    box-shadow: 0px 4px 60px rgb(0, 0, 0);

    margin-bottom: 50px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.song-img:after {
    content: '';
    padding-top: 100%;
    display: block;
}

.song-details {
    text-align: center;
    margin-bottom: 30px;
}

.song-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 5px;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: #888;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #101010;
    margin: 0 30px;

    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    transition: 0.4s;
}

.player-controls .skip-btn {
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    width: 40px;
    height: 40px;
}

.player-controls .play:hover {
    box-shadow: 0px 2px 20px rgba(243, 243, 235, 0.6);
}

.next-up p {
    color: #888;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.next-up p span {
    font-weight: 400;
    font-style: italic;
}


@media (max-width: 414px) {
    .player {
        min-height: 100vh;
        border-radius: 0px;
        padding: 75px 30px;
    }
}
